#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
html {
  overflow-y: auto;
}
.el-message__content {
  font-size: larger;
}
.el-message{
  backdrop-filter: blur(2px);
  box-shadow: 5px 5px 26px -2px #999999;
  border: none;
  background: rgba(208, 208, 208, 0.48);
}
.sn-notify {
  background: #00000012;
  backdrop-filter: blur(2px);
  box-shadow: 5px 5px 26px -2px #999999;
}
th {
  background: #3d3d3d !important;
  color: #d5d5d5 !important;
}
.mdi-checkbox-blank-outline {
  font-size: 20px !important;
}

.v-color-picker__alpha  {
  display: none;
}
.v-color-picker__dot {
  display: none;
}

