#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
html {
  overflow-y: auto;
}
.el-message__content {
  font-size: larger;
}
.el-message{
  backdrop-filter: blur(2px);
  box-shadow: 5px 5px 26px -2px #999999;
  border: none;
  background: rgba(120, 119, 119, 0.68);
}
.sn-notify {
  background: #00000012;
  backdrop-filter: blur(2px);
  box-shadow: 5px 5px 26px -2px #999999;
}
