#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.el-message__content {
  font-size: larger;
}
.el-message{
  backdrop-filter: blur(2px);
  box-shadow: 5px 5px 26px -2px #999999;
  border: none;
  background: rgba(208, 208, 208, 0.48);
}
.sn-notify {
  background: #00000012;
  backdrop-filter: blur(2px);
  box-shadow: 5px 5px 26px -2px #999999;
}
th {
  background: #3d3d3d !important;
  color: #d5d5d5 !important;
}
.mdi-checkbox-blank-outline {
  font-size: 20px !important;
}

.v-color-picker__alpha  {
  display: none;
}
.v-color-picker__dot {
  display: none;
}
.v-menu__content::-webkit-scrollbar {
  width: 5px;
}

.v-menu__content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.v-menu__content::-webkit-scrollbar-thumb {
  background-color: #899395;
  outline: 1px solid #899395;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #899395;
  outline: 1px solid #899395;
}

.highlighting {
  background: orangered;
}
.highlighting:hover {
  background: coral !important;
}
